table{
    width: 100%;
}
h1{
    text-align: center;
}
td, th{
    border: 2px solid black;
    width: 14.27%;
    font-width: bold;
    font-size: 24px;
    padding-bottom: 32px;
}
th {
    padding: 8px 0;
    background-color: teal;
    color: lightblue;
}
.weekend{
    background-color: green;
    color: white;
}
.summer{
    background-color: blue;
    color: pink;
}
.minimum{
    background-color: khaki;
    color: hotpink;
}
.class{
    background-color: firebrick;
    color: honeydew;
}
.rally{
    background-color: saddlebrown;
    color: aliceblue
}
.fake{
    color:red;

}